.Deck {
    height: 450pt;
    width: 600pt;
    margin: auto;
    /*border-radius: 15px;*/
    /*box-shadow: 1px 1px 7px 2px rgba(0,0,0,0.12) ;*/
}

.card-wrapper {
    margin: auto;
}


.question-title {

}