.textinput {
    /*font-size: 18pt !important;*/
    position: relative;
    border-bottom: 2pt solid rgba(128,122,127,0.94);
    width: 100%;
    /*font-family: Myriad Pro, sans-serif !important;*/
    /*font-weight: 600;*/

}

.textinput-input {
    /*font-size: 18pt !important;*/
    font-family: Myriad Pro, sans-serif !important;
    font-weight: 400;
    font-size: 20pt s!important;

}

.textinput-label {
    /*color: black !important;*/
    font-size: 14pt !important;
    font-family: Myriad Pro, sans-serif !important;
    font-weight: 300;
}

.textinput-label.focus {
    transform: translate(0, -1em) !important;
    color: gray !important;
}

.textinput-label.disabled {
    /*transform: translate(0, -1rem);*/
    /*transform-origin: top left;*/
    color: gray;
}
