.game {
    background-color: #FFFFFF;
    width: 400px;
    height: 500px;
    border: 1px #C4C4C4 solid;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.3) ;
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.game-row-wrapper {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 100%;
}

.message-list {
    position: relative;
    display: flex;  
    align-items: flex-end;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    max-height: 340px;
    margin-bottom: 20px;
}

.input {
    width: 100%;
    font-size: 24px;
}

.message {
    font-size: 24px;
    margin-top: 10pt;
    margin-bottom: 10pt;
    width: 100%;
    /* position: absolute; */
    /* width: 100%; */
    /* min-height: 100%; */
}

.continue-button {
    position: absolute;
    bottom: 0;
}

.question {
    font-weight: 300;
}

.answer {
    font-weight: 600;
}

.answer-correct {

}

.message-text {
    width: 80%;
    left: 0;
}

.message-score {
    width: 20%;
    right: 0;
}

.text-input {
    padding-bottom: 20pt;
}