.Game {
    box-sizing: content-box;
    /*display: flex;*/
    display: block;
    flex-grow: 1;
    position: relative;
    /*padding: 20px;*/
    /*overflow: hidden;*/
    border: 2px solid black;
    font:  normal 24pt 'Montserrat', sans-serif;
    background: #ffffff;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
    /*text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;*/
    height: 600px;
    font-size: 14pt;
    width: 600px;
    margin: auto;
    /*width: 30em;*/
}

.Game-row-wrapper {
    position: absolute;
    bottom: 100px;
    width: 600px;
    margin: auto;
    height: auto;
}

.Game-row {
    display: block;
    margin: 10px 30px;
}

.Game-input {
    position: absolute;
    display: block;
    height: 100px;
    bottom: 0;
}

.Game-answer {
    display: flex;
}