[contentEditable]:focus {
    outline: none;
}

.textarea {
    border-bottom: black solid 2px;
    font-family: inherit;
    font-size: inherit;
    height: 100%;
    padding-bottom: 5px;
    position: relative;
}

.content-wrapper:before {
    content: "\200b";
}

.textarea-autosuggest {
    color: gray;
}

.textarea-label {
    z-index: 0;
    position: absolute;
    color: gray;
    font-weight: 300;
    font-size: 12pt;
}

.textarea-label.withcontent {
    /* transform: translate(0, 5em); */
    bottom: -25px;
    position: absolute;
}

.textarea-label.withoutcontent {
    /* transform: translate(0, 1em); */
    position: absolute;
}

.textarea-contenteditable {
    position: relative;
    display: inline;
    font-weight: 400;
    outline: none;
    /*min-height: 14pt;*/
}

.content-wrapper {
    z-index: 1;
    /*position: relative;*/
    display: block;
    min-width: 100px;
    min-height: 12pt;
}