[contentEditable]:focus {
    outline: none;
}

.textarea {
    border-bottom: black solid 2px;
}

.textarea-contenteditable {
    position: relative;
    display: inline;
    min-width: 200px;
    background-color: #512da8;
}