[contentEditable]:focus {
    outline: none;
}

.textarea {
    border-bottom: black solid 2px;
    font-family: Myriad Pro, sans-serif;
    font-size: 12pt;
    padding-bottom: 10px;

}

.textarea-autosuggest {
    color: gray;
}

.textarea-label {
    z-index: 0;
    /*position: absolute;*/
    color: gray;
    font-weight: 300;
}

.textarea-label.withcontent {
    transform: translate(0, -0.5em);
}

.textarea-label.withoutcontent {
    transform: translate(0, 1em);
}

.textarea-contenteditable {
    position: relative;
    display: inline;
    font-weight: 400;
    outline: none;
    /*min-height: 14pt;*/
}

.content-wrapper {
    z-index: 1;
    /*position: relative;*/
    display: block;
    min-width: 100px;
    min-height: 12pt;
}